*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container-centered{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* nav*/

nav{
    background-color: orangered;
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 2;
    
}

nav .container-centered{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#sesso a{
    text-decoration: none;
    color: white;
    padding: 5px;
}

#logo{height: 100%;
padding: 3px;
display: flex;
flex-direction: column;
justify-content: center;}

#logo img{
    height: 70%;
}

#icone a{
    text-decoration: none;
    color: white;
    padding: 5px;
}

/*-----------main--------*/

main{
    padding-top: 70px;
}

#riga1{

    display: flex;
    justify-content: space-between;
    width: 100%;
}

#riga2{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.image-container{
    position: relative;
    cursor: pointer;
    width: calc((100%/3) - 14px);
}

.cuore{
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    padding: 5px;
}

.cuore:hover{
    color: red;
}

.sconto{
    color: white;
    background-color: red;
    position: absolute;
    bottom: 30px;
    left: 0;
    padding: 5px;
    font-size: 0.6em;
}

.sostenibilità {
    color: white;
    background-color: green;
    position: absolute;
    bottom: 30px;
    left: 40px;
    padding: 5px;
    font-size: 0.6em;
}

.sostenibilità.attacc {
    left: 0px;
}


.image-container img{width: 100%;}

#img1 #img1riposo{ display: inline-block;
}

#img1 #img1hover{
    display: none;
}
#img1:hover #img1riposo{ display: none;
}

#img1:hover #img1hover{ display: inline-block;
}

#img2 #img2riposo{ display: inline-block;
}

#img2 #img2hover{
    display: none;
}
#img2:hover #img2riposo{ display: none;
}

#img2:hover #img2hover{ display: inline-block;
}

#img3 #img3riposo{ display: inline-block;
}

#img3 #img3hover{
    display: none;
}
#img3:hover #img3riposo{ display: none;
}

#img3:hover #img3hover{ display: inline-block;
}

#img4 #img4riposo{ display: inline-block;
}

#img4 #img4hover{
    display: none;
}
#img4:hover #img4riposo{ display: none;
}

#img4:hover #img4hover{ display: inline-block;
}

#img5 #img5riposo{ display: inline-block;
}

#img5 #img5hover{
    display: none;
}
#img5:hover #img5riposo{ display: none;
}

#img5:hover #img5hover{ display: inline-block;
}

#img6 #img6riposo{ display: inline-block;
}

#img6 #img6hover{
    display: none;
}
#img6:hover #img6riposo{ display: none;
}

#img6:hover #img6hover{ display: inline-block;
}